* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 60px;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.navbar .title {
  position: absolute;
  top: 5%;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: white;
  margin-left: 10px;
}
.navbar .option ul {
  list-style-type: none;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.navbar .option .nav-link {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.navbar .option ul li {
  display: block;
  float: right;
  margin-right: 20px;
  padding-right: 10px;
}
.navbar .option .nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 4px solid white;
  width: 50%;
  margin: auto;
}
.navbar .option ul li:hover {
  transform: translate(0, -5px);
  transition: 0.5s;
}
.admin-bawah {
  text-align: center;
}

.tabel-database {
  margin-right: 60px;
  margin-left: 60px;
}
.tabel-database p {
  text-align: center;
}
#display-list .goto-details {
  font-weight: bold;
  color: black;
}
#display-list td,
#display-list th {
  border: 1px solid #ddd;
  padding: 8px;
}
#display-list tr:nth-child(even) {
  background-color: #f2f2f2;
}
#display-list tr:nth-child(odd) {
  background-color: white;
}
#display-list tr:hover {
  background-color: #ddd;
}
#display-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
#display-list td {
  text-align: center;
}
#display-list td a {
  text-decoration: none;
  color: #04aa6d;
}
.add-item {
  text-align: center;
  text-decoration: none;
  color: cornflowerblue;
}
.logout {
  color: rgb(129, 200, 248);
}

td {
  font-family: "Montserrat", sans-serif;
}

.veteran {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.shoes {
  color: black;
}
